# Rename this file name to .env for it to work
# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

######
# Default
######
PORT = 3000
LOCALE = zh-CN

######
# Environment
# development | testing | production, etc.
######
NODE_ENV = development

### ER DB
RDB_ENGINE = mysql
# RDB_URL://USER:PASSWORD@HOST:PORT/DB_NAME
RDB_URL = mysql://root:123456@localhost:3306/mydb

### DOC DB
DDB_ENGINE = mongodb
DDB_URL = mongodb://root:123456@localhost:27017
DDB_USER = root
DDB_PWD = 123456
